---
import PepperScale from '../components/PepperScale';
import Layout from '../layouts/Layout.astro';

const peppers = await Astro.glob('./peppers/*.md');
---

<Layout title="Scalville">
	<h1 class="text-3xl rotate-6 from-green-500 to-red-600 bg-gradient-to-r title">Scalville</h1>
	<main class="text-white rounded-xl border-2 border-black border-solid bg-white p-4 container mx-auto">
		<div class="flex justify-between bg-gray-700 p-4">
			<PepperScale peppers={peppers} client:load />
		</div>
	</main>
</Layout>
<style>
	.title {
		-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	}
</style>
