---
import type { MarkdownLayoutProps } from 'astro';

import Layout from './Layout.astro'


type Props = MarkdownLayoutProps<{
  title: string;
  scoville?: string;
  flavor?: string;
  origin?: string;
}>;

const {frontmatter} = Astro.props;
---

<Layout title={`Scalville | Peppers -- ${frontmatter.title}`}>
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>
